<div class="main blogs-new">
  <div class="container">
    <h1 class="form-heading">記事を書く</h1>
      <%= form_tag("/blogs/create") do %>
        <div class="form">
          <div class="form-body">
            <div class="form-title">
              <p>タイトル</p>
              <input type="string" name="title"> 
            </div>
            <div class="form-content">
              <p>記事</p>  
              <textarea name="content"></textarea>
            </div>
            <div class="blog-status">
              <input type="radio" name="status" value="9" checked="checked">下書き
              <input type="radio" name="status" value="0">公開
            </div>
          <input type="submit" value="投稿する" name="submit">
          </div>
        </div>
    <% end %>
  </div> 
</div>