<div class="main blogs-new">
  <div class="container">
    <h1 class="form-heading">記事を書く</h1>
      <%= form_tag("/blogs/create") do %>
        <div class="form">
          <div class="form-body">
            <div class="form-title">
              <p>タイトル</p>
              <input type="string" name="title"> 
            </div>
            <div class="form-content">
              <p>記事</p>  
              <textarea name="content"></textarea>
            </div>
             <input type="submit" value="公開" name="status:0">
             <input type="submit" value="下書き" name="status:9">
          </div>
        </div>
    <% end %>
  </div> 
</div>
