<div class="main favorite-index">
    <div class="container">
        <div class="favorite-index-title">
            <h1>お気に入りの記事</h1>
        </div>
        <div class="favorite-index-item">
          <% if @favoriteblogs %>
            <% @favoriteblogs.each do |favorite| %>
            <%= link_to(favorite.title,"/blog/#{favorite.id}") %>
            <% end %>
          <% else %>
            <%= "お気に入りの記事はありません" %>
          <% end %>
        </div>
    </div>
</div>
