<div class="main comments-index">
    <div class="container">
        <div class="comments-index-title">
            <h1>コメントがついた記事</h1>
        </div>
        <div class="comments-index-item">
          <% if @commentblogs %>
            <%= @commentblogs.each do |commentblog| %>
            <%= link_to(commentblog.title,"/blog/#{commentblog.id}") %>
            <% end %>
          <% else %>
            <%= "コメントがついた記事はありません" %>
          <% end %>
        </div>
    </div>
</div>