<div class="main recommendspotpics-index">
    <div class="container">
        <div class="recommendspotpics-menus">
            <%= link_to("おすすめスポットを投稿する","/recommendspots/new") %>
        </div>
        
        <div class="recommendspotpics-content-item">
            <div class="spot-name">
                
            </div>
            <div class="user-name">
                
            </div>
            <div class="user-comment">
                
            </div>
        </div>
    </div>
</div>