<div class="main events-index">
  <div class="container">
     <h1 class="events-hedding">イベント情報</h1>
      <% if @current_user %>
        <ul class="events-menus">
           <p>
             <%= link_to("イベントを作成する", "/events/new") %>
           </p>
     <% end %>
       <% @events.each do |event| %>
         <div class="events-index-item">
          <%= link_to(event.title, "/events/#{event.id}") %>
         </div>
       <% end %>
  </div>
</div>