<div class="main events-new">
  <div class="container">
    <h1 class="form-heading">イベントを作成</h1>
     <div class="pic-form">
       <%= form_tag("/event/piccreate", {multipart: true}) do %> 
          <p>画像</p>
          <input name="pic" type="file">
       <% end %>
     </div>
    <%= form_tag("/events/create") do %>
    <div class="form">
      <div class="form-body">
          <div class="form-title">
               <p>イベント名</p>
               <textarea name="title"></textarea>
          </div>
          <div class="form-content">
               <p>内容</p>
               <textarea name="content"></textarea>
          </div>
          <div class="form-target">
               <p>対象</p>
               <textarea name="target"></textarea>
          </div>
          <div class="form-date">
              <p>日程</p>
               <textarea name="event_date"></textarea>
          </div>
          <div class="form-start">
              <p>開始時間</p>
               <textarea name="event_start"></textarea>
          </div>
          <div class="form-place">
              <p>料金</p>
               <textarea name="place"></textarea>
          </div>
        <input type="submit" value="公開">
      </div>
     </div>
    <% end %>
  </div>
</div>


