<div class="main events-new">
  <div class="container">
    <h1 class="form-heading">イベントを作成</h1>
    <%= form_tag("/events/create") do %>
    <div class="form">
      <div class="form-body">
          <div class="form-title">
               <p>イベント名*</p>
               <input type="text" name="title" required>
          </div>
          <div class="form-content">
               <p>内容*</p>
               <textarea name="content" rows="4" cols="40" required></textarea>
          </div>
          <div class="form-target">
               <p>対象*</p>
               <input type="text" name="target" required>
          </div>
          <div class="form-date">
              <p>日程*</p>
              <input type="date" name="event_date" required>
          </div>
          <div class="form-place">
              <p>開催場所*</p>
               <input type="text" name="place"  required>
          </div>
          <div class="form-start">
              <p>開始時間*</p>
              <input type="time" name="event_start" required>
          </div>
          <div class="form-price">
              <p>料金*</p>
               <input type="number" name="price" min="0" required>円
          </div>
               <p>画像</p>
               <input name="pic" type="file">
        <input type="submit" value="公開">
      </div>
     </div>
    <% end %>
  </div>
</div>


