<div class="main events-show">
  <div class="container">
    <div class="events-show-item">
      <p>
        <%= @events.content %>
      </p>
       <div class="event-time">
        <%= @events.created_at %>
      </div>
    </div>
  </div>
</div>