<div class="main chats-index">
   <div class="container">
       <% @chat_message.each do |chat| %>
          <%= link_to("#{chat[0]}---#{chat[1]}", "chats/#{chat[0]}") %><br>
      <% end %>
   </div>
</div>